.show-legend-button {
    background-image: url(img/legend-16.png);
}
.last-zoom-button {
    background-image: url(img/zoom-last.png) !important;
}
.next-zoom-button {
    background-image: url(img/zoom-next.png) !important;
}
.move-map-button {
    background-image: url(img/pan1.png) !important;
}
.zoom-in-button {
    background-image: url(img/zoom-in1.png) !important;
}
.zoom-out-button {
    background-image: url(img/zoom-out1.png) !important;
}
.full-extent-button {
    background-image: url(img/zoom-extent1.png) !important;
}
.help-button {
    background-image: url(img/help.png) !important;
}
.quit-button {
    background-image: url(img/quit.png) !important;
}
.video-button {
    background-image: url(img/video-x-generic.png) !important;
}
.tutorial-button {
    background-image: url(img/text-x-generic.png) !important;
}

