/*
Buttons in the main toolbar
*/
.print-button {
    background-image: url(img/print.png) !important;
    /*height: 24px !important;
    width: 24px !important;*/
}
.query-builder-button {
    background-image: url(img/query-builder2.png) !important;
}
.attribute-table-button {
    background-image: url(img/table.png) !important;
}
.download-button {
    background-image: url(img/save1.png) !important;
}
.select-button {
    background-image: url(img/select.png) !important;
}
.select-freehand-button {
    background-image: url(img/select-freehand.png) !important;
}
.unselect-button {
    background-image: url(img/selected-delete.png) !important;
}
.zoom-selection-button {
    background-image: url(img/zoom-selection.png) !important;
}
/*
GIS navigation buttons
*/
.last-zoom-button {
    background-image: url(img/zoom-last.png) !important;
}
.next-zoom-button {
    background-image: url(img/zoom-next.png) !important;
}
.move-map-button {
    background-image: url(img/pan1.png) !important;
}
.zoom-in-button {
    background-image: url(img/zoom-in1.png) !important;
}
.zoom-out-button {
    background-image: url(img/zoom-out1.png) !important;
}
.full-extent-button {
    background-image: url(img/zoom-extent1.png) !important;
}
.identify-button {
    background-image: url(img/identify.png) !important;
}
/** Icons in print window **/
.add-frame-button {
    background-image: url(img/layer-add.png) !important;
}
.remove-frame-button {
    background-image: url(img/layer-delete.png) !important;
}
.quit-button {
    background-image: url(img/quit.png) !important;
}
.go-previous-button {
    background-image: url(img/go-previous.png) !important;
}
.go-next-button {
    background-image: url(img/go-next.png) !important;
}
/** Prevent pink tiles in OpenLayers **/
img.olImageLoadError {
    visibility: hidden !important;
}
/** Place the OpenStreetMap link to the lower right corner **/
.olControlAttribution {
    right: 3px ! important;
    bottom: 3px ! important;
    color: gray ! important;
    font-family: Arial,Verdana,sans-serif  ! important;
    font-size: 11px  ! important;
}
/** Small icons in the layer tree and list to indicate geometry type **/
div.POINT img.x-tree-node-icon {
    background-image: url(/img/point-16.png) !important;
    height:16px !important;
    width:16px !important;
}

div.LINESTRING img.x-tree-node-icon {
    background-image: url(/img/linestring-16.png) !important;
    height:16px !important;
    width:16px !important;
}

div.POLYGON img.x-tree-node-icon {
    background-image: url(/img/polygon-16.png) !important;
    height:16px !important;
    width:16px !important;
}

div.RASTER img.x-tree-node-icon {
    background-image: url(/img/raster-16.png) !important;
    height:16px !important;
    width:16px !important;
}